<%- include _template.ejs %>
  	
  	
  	    <form class="form-horizontal" method='POST' action='/config'>
    <fieldset>
    <legend>NAM Server Parameters</legend>
    <br>
    
    <label><strong>NAM port</strong></label> 
    <span class="help-block"><small>Port to be used by server NAM.</small></span>
    <input type="text" name="port_NAM_Adapter" value= <%=host.port_NAM%>>
    <br>
    <br>
    
    
    <label><strong>Iperf port</strong></label>
    <span class="help-block"><small>Port to be used by TCP conections of iperf.</small></span>
    <input type="text" name="port_iperf_server" value= <%=host.port_iperf%> >
    
    <br>
    <br>


    <label><strong>NAM Federation Database</strong></label>
    <span class="help-block"><small>URL that points to the database that stores the federation data in terms of NAM.</small></span>
    <input type="text" name="NAMFederationDatabase" value= <%=host.NAMFederationDatabase%> >
    
    <br>
    <br>


    
    <label><strong>NGSI adapter URL</strong></label>
    <span class="help-block"><small>URL where the NGSI Adapter is installed within the infrastructure.</small></span>
    <input type="text" id="inputNGSI" name="NGSIAdapter_url" value= <%=host.NGSIAdapter_url%>>
    
    
    <br>
    <br>


    

    <legend>Host Parameters</legend>
    <br>
    
    <div class="control-group">
		<label class="control-label" for="inputRegion">regionID</label>
		<div class="controls">
			<input type="text" id="inputRegion" name="regionId" value= <%=host.regionId%>>
		</div>
		
	</div>
	
	<div class="control-group">
		<label class="control-label" for="inputHostId">hostID</label>
		<div class="controls">
			<input type="text" id="inputHostId" name="hostId" value= <%=host.hostId%>>
		</div>
	</div>
	
	
		<div class="control-group">
		<label class="control-label" for="inputPublicIp">Public IP</label>
		<div class="controls">
			<input type="text" id="inputPublicIp" name="public_ip" value= <%=host.ip_address.public_ip%>>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="inputPrivateIp">Private Federation IP</label>
		<div class="controls">
			<input type="text" id="inputPrivateIp" name="private_federation_ip" value= <%=host.ip_address.private_federation_ip%>>
		</div>
	</div>
	   
    
    <br>
    <label class="checkbox">
    <input type="checkbox" name="restart"> NAM restart after saving changes
    </label>
    </br>    
    
    <div class="form-actions">
    	<button type="submit" class="btn btn-primary">Save changes</button>
    	<button type="button" class="btn">Cancel</button>
    </div>
    
    </fieldset>
    </form>

    
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	</div>
  </div>
 </div>

</body>
