<!DOCTYPE html>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>


<body style="">
      <div class="navbar">
    	<div class="navbar-inner">
    		<a class="brand" href="#">NAM</a>
    			<ul class="nav">
    				<li><a href="/">Home</a></li>
    				<li class="active"><a href="/Config">Config</a></li>
					<li class="divider"></li>
                     
			        <% if (session.user) { %>
                		<li class="pull-right"><a href="/logout">Logout</a></li>
         			<% } else { %>
              	  
                		<li class="pull-right"><a href="/login?redir=/">Login</a></li>
                  
         			<% } %>        
         			    				
    			</ul>
    	</div>
    </div>
    
<div class="wrapper container-fluid">


  	<div id="flash">
	</div>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
    	<ul class="tabbable nav nav-list">
    	<li class="nav-header">Config</li>
    	<li class="active"><a href="/config">NAM Server</a></li>
    	<li><a href="/config/bdw">BDW</a></li>
    	<li><a href="/config/owd">OWD</a></li>
    	<li><a href="/config/packetsloss">PacketsLoss</a></li>
	<li><a href="/config/user">Change User - Password</a></li>
    	...
    	</ul>
  	</div>
  	<div class="tabbable span10">
  	
  	
  	    <form class="form-horizontal" method='POST' action='/config'>
    <fieldset>
    <legend>NAM Server Parameters</legend>
    <br>
    
    <label><strong>NAM port</strong></label> 
    <input type="text" name="port_NAM_Adapter" value= <%=host.port_NAM%>>
    <span class="help-block"><small>Port to use by server NAM.</small></span>
    
    <p>
    
    <label><strong>Iperf port</strong></label>
    <input type="text" name="port_iperf_server" value= <%=host.port_iperf%> >
    <span class="help-block"><small>Port to use by TCP conections of iperf.</small></span>
    
    <p>
    
    <label><strong>DataBase URL</strong></label>
    <input type="text" name="ls_global" value= <%=host.ls_global%>>
    <span class="help-block"><small>Specifying a database URL.</small></span>
    
    <p>
    
    <label><strong>NGSI adapter url</strong></label>
    <input type="text" id="inputNGSI" name="NGSIAdapter_url" value= <%=host.NGSIAdapter_url%>>
    <span class="help-block"><small>Specifying a NGSI Adapter URL.</small></span>
    
    </br>
    

    <legend>Host Parameters</legend>
    <br>
    
    <div class="control-group">
		<label class="control-label" for="inputRegion">regionID</label>
		<div class="controls">
			<input type="text" id="inputRegion" name="regionId" value= <%=host.regionId%>>
		</div>
		
	</div>
	
	<div class="control-group">
		<label class="control-label" for="inputHostId">hostID</label>
		<div class="controls">
			<input type="text" id="inputHostId" name="hostId" value= <%=host.hostId%>>
		</div>
	</div>
	
	
		<div class="control-group">
		<label class="control-label" for="inputPublicIp">Public IP</label>
		<div class="controls">
			<input type="text" id="inputPublicIp" name="public_ip" value= <%=host.ip_address.public_ip%>>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label" for="inputPrivateIp">Private Federation IP</label>
		<div class="controls">
			<input type="text" id="inputPrivateIp" name="private_federation_ip" value= <%=host.ip_address.private_federation_ip%>>
		</div>
	</div>
	   
    
    <br>
    <label class="checkbox">
    <input type="checkbox" name="restart"> NAM restart after saving changes
    </label>
    </br>    
    
    <div class="form-actions">
    	<button type="submit" class="btn btn-primary">Save changes</button>
    	<button type="button" class="btn">Cancel</button>
    </div>
    
    </fieldset>
    </form>

    
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	</div>
  </div>
 </div>

</body>
