<%- include _template.ejs %>

	  
  	
  	<section>
<header>
  <h3> OWD Scheduled Tests </h3>
</header>

<table class='table table-striped table-bordered table-condensed'>
  <thead>
    <tr>
      <th>RegionId</th>
      <th>HostId</th>
      <th>Frequency</th>
      <th>Actions</th>
    </tr>
  </thead>
  

<tbody>
  <% for (var i in scheduled) { %>
    <tr>
       <td> <%= scheduled[i].regionIdDestination %> </td>
       <td> <%= scheduled[i].hostDestination  %>  </td>
       <td> <%= scheduled[i].frequency %> </td>
       <td> 
            <form class='form-inline pull-right' method='post' action='/monitoring/nam/scheduled/<%= scheduled[i]._id %>'>
              <input type='hidden' name='_method' value='delete'>
                <button type="submit" class='btn btn-danger btn-mini'> 
                  <i class='icon-edit icon-white'></i> Stop 
                </button>
              
            </form>
            
              <% if (i==0){ %>
              <a class='form-inline pull-right' href='/config/scheduled/<%= scheduled[i]._id %>'>
              
                <button type="submit" class='btn btn-warning btn-mini'> 
                  <i class='icon-edit icon-white'></i> Edit 
                </button>
              
              </a>
              <% } %>
       </td> 
    </tr>
  <%  }; %>
  </tbody>
  
</table>

<footer>
  
</footer>

</section>
  	
  	
  	<form class="form-horizontal"  method='POST' action='/config/scheduled/new'>
	  
	 
	    <fieldset>
		
		    <legend>New scheduled test</legend>
		    <br>
		    
		    <input type='hidden' name='type' value='owd'>
		    		    
		    <div class="control-group">
				<label class="control-label" for="inputRegion">regionId</label>
				<div class="controls">
					<input type="text" id="inputRegion" name="regionId" placeholder="regionId">
				</div>
				
			</div>
			
			<div class="control-group">
				<label class="control-label" for="inputHostId">hostId</label>
				<div class="controls">
					<input type="text" id="inputHostId" name="hostId" placeholder="hostId">
				</div>
			</div>
			
				<div class="control-group">
				<label class="control-label" for="inputFequency">Frequency</label>
				<div class="controls">
					<input type="text" id="inputPublicIp" name="frequency" placeholder="-- min">
				</div>
			</div>
			
		    
		    <div class="form-actions">
		    	<button type="submit" class="btn btn-primary">Save changes</button>
		    	<button type="button" class="btn">Cancel</button>
		    </div>
	    
	    </fieldset>
    </form>

    
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	
  	</div>
  </div>
 </div>

</body>
